<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AkOne</key>
	<string>ecef14eac236a</string>
	<key>AkTwo</key>
	<string>5d4ec6ac3a</string>
	<key>AkThree</key>
	<string>4a4761e8f</string>
</dict>
</plist>
